@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="user-info">
            <span class="user-name">Hello, @context.User.Identity?.Name!</span>
            <a href="MicrosoftIdentity/Account/SignOut" class="btn btn-link">Sign Out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn btn-primary">Sign In</a>
    </NotAuthorized>
</AuthorizeView>

<style>
    .user-info {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .user-name {
        color: #333;
        font-weight: 500;
    }
</style>
